@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
        url("../../fonts/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
        url("../../fonts/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../../fonts/Inter-Black.woff2?v=3.19") format("woff2"),
        url("../../fonts/Inter-Black.woff?v=3.19") format("woff");
}

.header {
    max-width: 100%;
    height: 52px;
    padding: 28px 48px 56px 48px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 28px 48px 48px 48px;
    }
}

@media screen and (max-width: 960px) {
    .header {
        padding: 28px 24px 48px 24px;
    }
}

@media screen and (max-width: 460px) {
    .header {
        height: 42px;
        padding: 16px 16px 48px 16px;
    }
}