.cover__text {
    width: 60%;
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 710px) {
    .cover__text {
        max-width: 250px;
    }
}

@media screen and (max-width: 460px) {
    .cover__text {
        width: 288px;
        max-height: 134px;
    }
}