.cover {
    max-width: 1184px;
    position: relative;
    background-image: url('../../images/cover-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 92px;
}

@media screen and (max-width: 960px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 460px) {
    .cover {
        margin-bottom: 64px;
    }
}