.cover {
    position: relative;
    max-width: 1184px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 92px;
}

@media screen and (max-width: 960px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 460px) {
    .cover {
        margin-bottom: 64px;
    }
}