@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
        url("../../fonts/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
        url("../../fonts/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../../fonts/Inter-Black.woff2?v=3.19") format("woff2"),
        url("../../fonts/Inter-Black.woff?v=3.19") format("woff");
}

.place {
    width: 100%;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: auto;
    gap: 48px 40px;
}

.place:last-of-type {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(380px, 1fr) minmax(395px, 1fr);
        gap: 48px 32px;
    }
}

@media screen and (max-width: 800px) {
    .place {
        grid-template-columns: minmax(290px, 1fr) minmax(305px, 1fr);
        gap: 48px 28px;
    }
}

@media screen and (max-width: 650px) {
    .place {
        grid-template-columns: minmax(300px, 1fr);
        gap: 32px;
    }
}