.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 48px 24px 48px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 960px) {
    .footer {
        padding: 0 24px 24px 24px;
    }
}

@media screen and (max-width: 650px) {
    .footer {
        padding: 0 16px 24px 16px;
        flex-direction: column;
    }
}