@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
        url("../../fonts/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
        url("../../fonts/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../../fonts/Inter-Black.woff2?v=3.19") format("woff2"),
        url("../../fonts/Inter-Black.woff?v=3.19") format("woff");
}

.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 0 24px 48px 24px;
    }
}

@media screen and (max-width: 960px) {
    .footer {
        padding: 0 24px 24px 24px;
    }
}

@media screen and (max-width: 650px) {
    .footer {
        height: 310px;
        padding: 0 16px 24px 16px;
        flex-direction: column;
    }
}